.post {
    max-width: 70%;
    text-align: left;
    margin: 20px auto;
    background-color: rgb(188, 207, 209);
    padding: 10px;
    border-radius: 2px;
    font-family: serif;
    &:hover {
        background-color: rgb(157, 193, 198);
    }
    &__container {
        min-height: 48vh;
    }
    &__date {
        margin: 0px;
        font-size: 70%;
    }
    &__title {
        // color: #12749C;
        font-weight: normal;
        margin: 0px;
        color: rgb(0, 90, 94);

    }
    &__byline {
        margin: 2px;
        text-decoration: none;
        font-size: 85%;
    }
    &__link {
        text-decoration: none;
        color: black;
    }
}