.contact {
  padding: 1% 10%;
  background-color: rgba(128, 128, 128, 0.295);
  display: block;
  text-align: left;
  padding-left: 15%;
  height: 75vh;
  &__title {
    font-size: 2em;
  }
  &__chat {
    color: rgb(1, 95, 99);
    &_linkedIn {
      color: rgb(1, 95, 99);
      &:hover {
        color: rgb(0, 122, 126);
      }
    }
  }
}
