 
 .nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    // padding-left: 57%;
    position: fixed;
    top: 0;
    // background-color: rgb(2, 135, 139);
    &__item {
        font-size: 130%;
        color: rgb(199, 199, 199);
        font-weight: bold;
        padding-right:3%;
        &_link {
            color: rgb(199, 199, 199);
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }
 }
