.faqs {
    max-width: 80%;
    margin: auto;
    padding-top: 80px;
    font-family: sans-serif;
    &__title {
        margin: 0px;
        font-weight: 500;
    }
    &__intro {
        font-size: 1.2em;
        padding-bottom: 10px;
    }
    &__container {
        background-color: rgb(188, 207, 209);
        padding: 10px;
        border-radius: 5px;
        margin: 20px 0px;
    }
    &__question {
        margin: 5px;
        font-size: 1.2em;
    }
    &__answer {
        margin: 0px;
        font-size: 1.2em;
        white-space: pre-wrap; 
    }
}