
.footer {
    background-color: rgb(2, 135, 139);
    color: rgb(214, 211, 211);
    height: 15vh;
    padding-bottom: 5px;
    &__icon {
        padding: 15px 10px 0px 10px;
        color: black;
    }
    &__copyright {
        font-size: 10px;
    }
}