.languages {
    background-color: rgb(2, 135, 139);
    min-height: 100vh;
    padding: 1% 0%;
    color: rgb(214, 211, 211);
    &__title {
        font-size: 2.5rem;
    }
    &__list {
        width: 70%;
        max-width: 750px;
        margin: auto;
        &__item {
            font-size: 1.2em;
            margin: 20px 0px;
            &_name {
                margin: 1%;
                font-weight: bold;
            }
            &_desc {
                margin: 1%;
            }
        }
    }
}